CONFIG_BOOTDELAY=10
CONFIG_BUILD_BIN2C=y
CONFIG_CMD_CONFIG=y
CONFIG_CMD_IMI=y
#CONFIG_CMD_IMLS=y # breaks
CONFIG_CMD_XIMG=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_DNS=y
#CONFIG_CMD_DATE=y # breaks
CONFIG_CMD_TIME=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_BEST_MATCH=y
